*.suo
*.user
*.userosscache
*.sln.docstates
bin/
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.ilk
*.log
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
libs/fbxsdk/lib/
libs/fbxsdk/bin/s)
libs/imgui/*.obj
libs/imgui/*.exe
*.tmp
*.temp
Thumbs.db
.DS_Store